.divMain {
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin: auto;
    text-align: left;
    top: calc( (100vw - 480px)/(1900 - 480) * (438 - 200) + 200px);
    padding-left: calc( (100vw - 480px)/(1900 - 480) * (420 - 0) + 0px);
}

.mainText1 {
    font-style: normal;
    font-weight: 700;
    font-size: calc( (100vw - 480px)/(1900 - 480) * (70 - 35) + 35px);
    line-height: 95px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.mainText2 {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 130%;
    color: #125E97
}
.subMainText {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 155%;
    color: #FFFFFF;
}
.buttonConsult {
    position: absolute;
    width: 355px;
    height: 70px;
    left: 26.56%;
    right: 43.28%;
    top: 551px;
    background: #125E97;
    border: 0px;
}
.buttonConsult:hover {
    background-color: #0089EF;
}

.buttonText {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.numberActive {
    position: absolute;
    left: calc( (100vw - 480px)/(1900 - 480) * (420 - 0) + 0px);
    top: calc( (100vw - 480px)/(1900 - 480) * (850 - 400) + 400px);
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 150%;
    text-transform: uppercase;
    color: white;
    /*color: #125E97;*/
}
.numberNotActive {
    position: absolute;
    margin-left: calc( (100vw - 480px)/(1900 - 480) * (455 - 20) + 20px);
    top: calc( (100vw - 480px)/(1900 - 480) * (850 - 400) + 400px);
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
}
.buttonLeft {
    position: absolute;
    width: 72px;
    height: 72px;
    margin-left: calc( (100vw - 480px)/(1900 - 480) * (1300 - 350) + 350px);
    top: calc( (100vw - 480px)/(1900 - 480) * (850 - 400) + 400px);
    border: 0px;
}

.buttonLeft:hover {
    background-color: #006DBF;
}

.buttonRight {
    border: 0px;
    position: absolute;
    width: 72px;
    height: 72px;
    margin-left: calc( (100vw - 480px)/(1900 - 480) * (1400 - 450) + 450px);
    top: calc( (100vw - 480px)/(1900 - 480) * (850 - 400) + 400px);
}

.buttonRight:hover {
    background-color: #006DBF;
}

.divForForm {
    position: absolute;
    width: calc( (100vw - 480px)/(1900 - 480) * (1040 - 520) + 520px);
    height: calc( (100vw - 480px)/(1900 - 480) * (215 - 150) + 150px);
    left: calc( (100vw - 480px)/(1900 - 480) * (435));
    top:  calc( (100vw - 480px)/(1900 - 480) * (980 - 520) + 520px);
    background: #FFFFFF;
    box-shadow: 0px -20px 50px rgba(178, 179, 179, 0.1), 0px 20px 50px rgba(178, 179, 179, 0.1);
}

.inputButton {
    width: calc( (100vw - 480px)/(1900 - 480) * (300 - 200) + 200px);
    height: calc( (100vw - 480px)/(1900 - 480) * (56 - 30) + 30px);

    margin-left: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    border: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #0089EF;
}
.inputHeaderText {
    padding-top: 60px;
    padding-left: 58px;
    font-style: normal;
    font-weight: 400;
    font-size: calc( (100vw - 480px)/(1900 - 480) * (16 - 14) + 14px);
    line-height: 135%;
    color: #000000;
}
.textWhoWeAreMain {
    font-style: normal;
    font-weight: 700;
    font-size: calc( (100vw - 480px)/(1900 - 480) * (35 - 28) + 28px);
    line-height: 150%;
    /*text-decoration: underline;*/
    text-transform: uppercase;
    color: #125E97;
}
.subTextWhoWeAreMain {
    font-style: normal;
    font-weight: 400;
    font-size: calc( (100vw - 480px)/(1900 - 480) * (16 - 12) + 12px);
    line-height: 155%;
    color: rgba(0, 0, 0, 0.8);
}
.imgStyle {
    position: absolute;
    width: calc( (100vw - 768px)/(1900 - 768) * (440 - 300) + 300px);
    height: calc( (100vw - 768px)/(1900 - 768) * (508 - 350) + 350px);
    margin-left: calc( (100vw - 480px)/(1900 - 480) * (40 - 20) + 20px);
    top: calc( (100vw - 768px)/(1900 - 768) * (1350 - 850) + 850px);
    z-index: 1;
    background: linear-gradient(134.35deg, rgba(0, 146, 255, 0.5) -46.81%, #0080DF 39.75%);
    opacity: 0.1;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.textSellwin {
    align-items: center;
    margin: auto;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: calc( (100vw - 480px)/(1900 - 480) * (35 - 28) + 28px);
    line-height: 150%;
    text-transform: uppercase;
    color: #125E97;
    padding-bottom: calc( (100vw - 480px)/(1900 - 480) * (200 - 70) + 70px);
}
.textSellwinDescription {
    align-items: center;
    margin: auto;
    font-style: normal;
    font-weight: 400;
    font-size: calc( (100vw - 480px)/(1900 - 480) * (20 - 14) + 14px);
    line-height: 170%;
    color: rgba(0, 0, 0, 0.9);
    padding-right: calc( (100vw - 480px)/(1900 - 480) * (160 - 0) + 0px);
    padding-bottom: calc( (100vw - 480px)/(1900 - 480) * (105 - 40) + 40px);
    padding-left: 10px;
    width: 40%;
}
