.cardTechno {
    margin-top: 40px;
    width: 532px;
    height: 470px;
    background: #FFFFFF;
    box-shadow: 0px -20px 50px rgba(178, 179, 179, 0.07), 0px 20px 50px rgba(178, 179, 179, 0.07);
}
.titleCardTechno {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    background-color: #0092FF ;
    width: 532px;
    height: 94px;
    color: #FFFFFF;
    padding-top: 30px;
}
.li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
    margin-left: 92px;
    color: #000000;
}
.cardTechnologies {
    width: 522px;
    height: 695px;
    background: #FFFFFF;
    box-shadow: 0px -20px 50px rgba(178, 179, 179, 0.07), 0px 20px 50px rgba(178, 179, 179, 0.07);
}
.titleCardTechnologies {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 40px;
    text-transform: uppercase;
    color: #000000;
}
.subTitleCardTechnologies {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 40px;
    margin: 0; /* Убираем внешний отступ */
    -webkit-line-clamp: 5; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
}
.buttonNext {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    padding-left: 40px;
    position: absolute;
    padding-top: 80px;
    color: #006DBF;
}
.aaa {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    -webkit-transition: -webkit-transform 1600ms;
    transition: -webkit-transform 1600ms, transform 1600ms;
    -webkit-transform: scale(1);
    transform: scale(1);
}