.totalCardStyle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 100px;
    width: 1084px;
    align-items: start;
}
.ourValue {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 150%;
    text-transform: uppercase;
    color: #125E97;
    padding-left: 420px;
    padding-top: 245px;
}

.cardStyle {
    width: 340px;
    height: 260px;
    background: rgba(0, 137, 239, 0.05);
    margin: auto;
    margin-bottom: 75px;

}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.8);

}
.subTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.8);
}
